<div class="d-flex justify-content-between">
    <div>
        <h1 class="m-0 p-0">Insomnia39</h1>
        <small class="m-0 p-0">CosmoApp-Clone project</small>
    </div>
    <div class="d-flex">
        <div class="text-end me-1" style="max-height: 54px;">
            <div class="p-2">
                <h5 class="m-0 p-0">{{profile?.username || "Username"}}</h5>
                <p class="m-0 p-0">{{profile?.point || 0}}</p>
            </div>
        </div>
        <button 
            class="btn btn-outline-dark mt-2" 
            style="max-height: 54px; max-width: 54px; min-width: 54px; min-height: 54px;"
        >
            A</button>
    </div>
</div>